html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html *::first-letter {
    text-transform: uppercase;
   
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: black;
    line-height: 30px;
    overflow-x: hidden;
    font-family: "mukta", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    color: #040e27;
    font-family: "mukta", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #040e27;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #bd0202;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 28px;
    margin-top: -13px;
}

h3 {
    font-size: 24px;
    margin-top: -11px;
}

h4 {
    font-size: 22px;
    margin-top: -9px;
}

h5 {
    font-size: 20px;
    margin-top: -9px;
}

h6 {
    font-size: 18px;
    margin-top: -7px;
}

p {
    margin-top: -13px;
}

p:last-child {
    margin-bottom: -9px !important;
}

@media (min-width: 576px) {
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 40px;
        margin-top: -18px;
    }
    h3 {
        font-size: 30px;
        margin-top: -14px;
    }
    h4 {
        font-size: 24px;
        margin-top: -11px;
    }
    h5 {
        font-size: 22px;
        margin-top: -9px;
    }
    h6 {
        font-size: 20px;
        margin-top: -9px;
    }
}

a {
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 5px 0;
}

select,
input,
textarea {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

textarea {
    height: 200px;
    resize: none;
    padding: 10px;
}

input,
select {
    height: 50px;
    color: #f5f5f5;
}

label,
select {
    cursor: pointer;
}

input {
    background: #f4f4f4;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
}

input:focus {
    border: 1px solid #bd0202;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #33abf6;
    color: #ffffff;
    font-weight: 700;
    padding: 0;
}

.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.theme-overlay-deep::before,
.theme-overlay::before,
.banner-section::before,
.widget.widget-archive ul li::before,
.widget.widget-category ul li::before,
.event-CEO .client-thumb:before,
.client-item .client-thumb:before,
.faq-wrapper .faq-item .faq-title::before,
.faq-wrapper::before,
.overview-two-content .choose-area .choose-item::after,
.wellcome-area .wellcome-item .left-side::before,
.bullet-list li::before,
.info-item::after,
.info-item::before,
.shop-item .shop-thumb::after,
.shop-item .shop-thumb::before,
.review-form .form-group.check-group .group label::after,
.privacy-item .content-area ul li::before,
.privacy-item .listings ul li::before,
.post-item .post-thumb a::before,
.post-item.video-post .post-thumb::before,
.blockquote-item .blog-blockquote::before {
    position: absolute;
    content: '';
}



.widget .widget-banner-content::before,
.event-CEO .client-content p::before,
.client-item .client-content p::before,
.welcome-thumb .thumb1::before,
.welcome-thumb .thumb2::before,
.welcome-thumb .thumb3::before,
.hero-area::before,
.gallery-item .gallery-thumb::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
}

.padding-top {
    padding-top: 80px;
}

.padding-bottom {
    padding-bottom: 80px;
}

@media (min-width: 992px) {
    .padding-top {
        padding-top: 120px;
    }
    .padding-bottom {
        padding-bottom: 120px;
    }
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}

.preloader .preloader-wrapper {
    max-width: 400px;
}

.preloader img {
    max-width: 100%;
}


/*Section Header*/

.mb-30-none {
    margin-bottom: -30px !important;
}

.tab-item {
    display: none;
}

.tab-item:first-child {
    display: block;
}

.tab-menu li {
    cursor: pointer;
}

.bg-ash {
    background-color: #f5f8ff;
}

.bg-theme-hover:hover,
.bg-theme {
    background: #bd0202;
}


.section-header .title {
    margin-bottom: 10px;
    text-transform: capitalize;
}

@media (min-width: 576px) {
    .section-header {
        margin-bottom: 60px;
    }
    .section-header .title {
        margin-bottom: 10px;
    }
    .section-header .shape-header {
        margin-bottom: 26px;
    }
}

.section-header.left-style {
    text-align: left;
    margin-left: 0;
}

.section-header.light * {
    color: #ffffff;
}

.section-header.light .shape-header {
    background: #ffffff;
}

.section-header.mb-low {
    margin-bottom: 30px;
}

@media (min-width: 576px) {
    .section-header.mb-low {
        margin-bottom: 40px;
    }
}

.section-header.mb-low-low {
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .section-header.mb-low-low {
        margin-bottom: 30px;
    }
}

.section-header.mw-100 {
    max-width: 100%;
}

@media (min-width: 992px) {
    .section-header.mt-down .title {
        margin-top: -11px;
    }
}

@media (min-width: 768px) {
    .section-header.mt-md-down .title {
        margin-top: -11px;
    }
}

.c-thumb {
    overflow: hidden;
}

.c-thumb a {
    display: block;
}

.c-thumb img {
    width: 100%;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.light-color * {
    color: #ffffff;
}

.theme-overlay-deep,
.theme-overlay {
    position: relative;
}

.theme-overlay-deep::before,
.theme-overlay::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.65;
    background: rgb(213, 1, .5);
}

.theme-overlay-deep *,
.theme-overlay * {
    position: relative;
    z-index: 1;
}

.theme-overlay-deep::before {
    background: rgb(213, 1, .5);
}

@media (max-width: 575px) {
    .mb--30-max-sm {
        margin-bottom: -30px;
    }
}

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/*CEO-Section Starts FICA*/

.CEO-item {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .CEO-item {
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;
    }
}

.CEO-item .CEO-content {
    text-transform: capitalize;
    padding: 30px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.CEO-item .CEO-content .sub-title,
.CEO-item .CEO-content span {
    transition-delay: .3s;
}

.CEO-item .CEO-content span {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    margin-bottom: -7px;
    font-size: 18px;
}

.CEO-item .social {
    margin: -6px;
    margin-top: 15px;
    justify-content: center;
}

.CEO-item .social li {
    padding: 6px;
}

.CEO-item .social li a {
    width: 31px;
    height: 27px;
    color: #ffffff;
    background: #bd0202;
    line-height: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CEO-item:hover .c-thumb img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.CEO-item:hover .CEO-content {
    animation: .2s fadeInDown linear forwards;
    background: url(../images/CEO/ins-shape.png) rgb(213, 1, .5) no-repeat center center;
    background-size: cover;
}

.CEO-item:hover .CEO-content .sub-title a,
.CEO-item:hover .CEO-content span {
    color: #ffffff;
}

.CEO-item:hover .CEO-content .social li a {
    background: #ffffff;
    color: #bd0202 !important;
}

.CEO-item-two {
    border: none;
}

.CEO-item-two .CEO-content {
    text-align: left;
    background-color: #f5f8ff;
}

.CEO-item-two .CEO-content span {
    opacity: .9;
    color: #040e27;
    font-size: 20px;
}

@media (min-width: 576px) {
    .CEO-item-two .CEO-content span {
        font-size: 24px;
    }
}

.CEO-item-two .social {
    justify-content: flex-start;
}


/*Client-Say-Section Starts FICA*/

.event-CEO,
.client-item {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-align: center;
    padding: 40px 20px;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
    /*Client-Item-Two Starts*/
}

.event-CEO .client-thumb,
.client-item .client-thumb {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
}

.event-CEO .client-thumb .thumb img,
.client-item .client-thumb .thumb img {
    width: 100%;
}

@media screen and (min-width: 380px) {
    .event-CEO,
    .client-item {
        padding: 60px 40px;
    }
}

.event-CEO .client-content p,
.client-item .client-content p {
    font-size: 18px;
    margin-bottom: 22px;
    position: relative;
}

.event-CEO .client-content span,
.client-item .client-content span {
    display: block;
    margin-bottom: -9px;
    margin-top: -5px;
}

.event-CEO:hover,
.client-item:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.event-CEO:hover .client-thumb::before,
.client-item:hover .client-thumb::before {
    top: 0;
    left: 0;
}

.event-CEO.client-item-two,
.client-item.client-item-two {
    padding: 0;
    border: none;
}

.event-CEO.client-item-two .client-thumb,
.client-item.client-item-two .client-thumb {
    margin: 0;
    width: 100%;
    height: auto;
    background: #f5f8ff;
    padding: 35px 30px;
}

.event-CEO.client-item-two .client-thumb::before,
.client-item.client-item-two .client-thumb::before {
    display: none;
}

.event-CEO.client-item-two .client-thumb .thumb,
.client-item.client-item-two .client-thumb .thumb {
    mask-image: none;
    -webkit-mask-image: none;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.event-CEO.client-item-two .client-thumb .thumb img,
.client-item.client-item-two .client-thumb .thumb img {
    width: 100%;
}

.event-CEO.client-item-two .client-content,
.client-item.client-item-two .client-content {
    padding: 40px 30px;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.event-CEO.client-item-two:hover .client-thumb,
.client-item.client-item-two:hover .client-thumb {
    background: #bd0202;
    animation: fadeInDown .2s linear forwards;
}

/*Counter-Section Starts FICA*/

.counter-item {
    width: 32%;
    background: #ffffff;
    padding: 50px 10px;
    /*Counter-Section-Two Starts*/
}

.counter-item .odometer {
    font-size: 42px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .counter-item .odometer {
        font-size: 85px;
        margin-bottom: 20px;
        line-height: 1;
        margin-top: -18px;
    }
}

.counter-item .odometer.plus::after {
    content: "\f118";
    font-family: "Flaticon";
    font-weight: 600;
    font-size: 30px;
    margin-left: 5px;
}

.counter-item .sub-title {
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: -9px;
}

@media (max-width: 767px) {
    .counter-item .sub-title {
        margin-bottom: -7px;
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .counter-item {
        padding: 15px 15px;
        min-height: 160px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .counter-item .odometer,
    .counter-item .sub-title {
        width: 100%;
    }
    .counter-item .odometer {
        margin-bottom: 10;
    }
}

@media (max-width: 575px) {
    .counter-item {
        width: 90%;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .counter-item .odometer {
        font-size: 50px;
    }
    .counter-item .sub-title {
        font-size: 18px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
    .counter-item .odometer {
        font-size: 60px;
    }
    .counter-item .sub-title {
        font-size: 24px;
    }
}

@media (min-width: 576px) {
    .counter-item {
        box-shadow: 0px 0px 21px 9px rgba(164, 164, 164, 0.24);
    }
}

.counter-item-two {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: none;
}

@media (min-width: 576px) {
    .counter-item-two {
        width: calc(50% - 15px);
    }
}

@media (min-width: 1200px) {
    .counter-item-two {
        width: calc(25% - 15px);
    }
}

@media (max-width: 991px) {
    .overview-two-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .overview-two-content .content {
        max-width: 525px;
        margin-left: 30px;
        margin-right: auto;
        padding-right: 15px;
    }

}

@media (min-width: 992px) and (min-width: 1200px) {
    .overview-two-content .content {
        margin-left: 60px;
    }
}

.overview-two-content * {
    position: relative;
    z-index: 1;
}

.overview-two-content .choose-area {
    counter-reset: choose-item;
    margin-bottom: -49px;
}

.overview-two-content .choose-area .choose-item {
    padding-left: 80px;
    position: relative;
    margin-bottom: 40px;
}

.overview-two-content .choose-area .choose-item::before {
    position: absolute;
    top: 4px;
    left: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #ffffff;
    color: #bd0202;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    counter-increment: choose-item;
    content: counter(choose-item);
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

@media (min-width: 576px) {
    .overview-two-content .choose-area .choose-item::before {
        top: 6px;
    }
}

.overview-two-content .choose-area .choose-item::after {
    height: calc(100% - 50px);
    width: 1px;
    background: #ffffff;
    top: 75px;
    left: 30px;
    opacity: .3;
}

.overview-two-content .choose-area .choose-item:last-child::after {
    display: none;
}

.overview-two-content .choose-area .choose-item .title {
    margin-bottom: 23px;
}

.overview-two-content .choose-area .choose-item p {
    opacity: .8;
}

@media (max-width: 575px) {
    .overview-two-content .choose-area .choose-item {
        padding-left: 60px;
    }
    .overview-two-content .choose-area .choose-item::before {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .overview-two-content .choose-area .choose-item::after {
        left: 20px;
        top: 65px;
    }
}

.overview-two-content .choose-area .choose-item:nth-child(1)::before,
.overview-two-content .choose-area .choose-item:nth-child(2)::before,
.overview-two-content .choose-area .choose-item:nth-child(3)::before,
.overview-two-content .choose-area .choose-item:nth-child(4)::before,
.overview-two-content .choose-area .choose-item:nth-child(5)::before,
.overview-two-content .choose-area .choose-item:nth-child(6)::before,
.overview-two-content .choose-area .choose-item:nth-child(7)::before,
.overview-two-content .choose-area .choose-item:nth-child(8)::before,
.overview-two-content .choose-area .choose-item:nth-child(9)::before {
    content: "0" counter(choose-item) "";
}

/*Hero Area Starts Here FICA*/

.hero-area {
    position: relative;
    padding: 80px 0 130px;
    text-align: center;
}

.hero-area::before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.hero-area * {
    position: relative;
    z-index: 1;
}

.hero-area .title {
    margin: 0;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 30px;
}

@media (min-width: 576px) {
    .hero-area {
        padding: 140px 0 190px;
    }
    .hero-area .title {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .hero-area {
        padding: 160px 0 210px;
    }
    .hero-area .title {
        font-size: 84px;
    }
}

.breadcrumb {
    margin: 0;
    border-bottom: 1px solid #bd0202;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #ffffff;
    padding: 35px 10px;
    justify-content: center;
    background: #ffffff;
    margin-top: -50px;
    position: relative;
    z-index: 1;

.welcome-thumb .thumb3::before {
    animation: rev-rotate 80s linear infinite;
}

@media (min-width: 992px) {
    .welcome-thumb.style-two {
        max-width: 400px;
        padding-bottom: 90px;
    }
    .welcome-thumb.style-two .thumb2 {
        max-width: 140px;
        right: -30px;
    }
}