:root{
    --primaryColor: #bd0202;
    --secundaryColor: #353535;
    --sizeButao: 1.1rem;
}

.popUp-background{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.popUp-content{  
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 20rem;
    max-width: 40rem;
    position: relative;
    background-color: var(--secundaryColor);
    padding: 1rem;
    align-items: center;
}
.sairButton{
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    max-width: 50px;
    max-height: 50px;
}
.sairButton a{
    background-color: transparent;
}
.sairButton a{
    background-color: transparent;
}
.sairButton img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popUp-content img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
#formLogin{
    width: 100%;
    padding: 0;
}
.areainputLogin, .popUpImgSide{
    height: 93%;
} 
.areainputLogin{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.popUp--input__titulo{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    margin-left: 2rem;
    margin-top: 1rem;
    color: var(--primaryColor);
}
.popUp--input input{
    max-width: 30ch;
    width: 100%;
    height: 3ch;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 100%;
    align-items: center;
}
.popUp--input input:first-child{
    margin-top: 2rem;
}
.popUp--input input::placeholder{
    color: black;
    font-weight: 400;
    font-size: var(--sizeButao);
}
.popUp--input button{
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: var(--sizeButao);
    text-decoration: none;
    background-color: var(--primaryColor);
    color: white;
    padding: 0.30em 2.50em;
    border: 0;
}
.popUpImgSide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 
#formRegister{
    display: none;
    flex-direction: row;
    padding: 0;
}







.swapFormsArea{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;

}
.linkRegisto{
    margin-top: 2rem;
    margin-bottom: 0;
    color: white;
    text-align: center;
}
.linkRegisto a{
    background-color: transparent;
    padding: 0;
    color: var(--primaryColor);
    text-decoration: dashed;
} 








/* .popUp-background{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.popUp-content{  
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 20rem;
    max-width: 40rem;
    position: relative;
    background-color: var(--secundaryColor);
    padding: 2rem;
    text-align: center;
}

.sairButton{
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    max-width: 50px;
    max-height: 50px;
}
.sairButton a{
    background-color: transparent;
}
.sairButton img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popUp-content img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
.areainputLogin{
    display: flex;
    flex-direction: row;
}
.linkRegisto{
    color: white;
    text-align: center;
}
.linkRegisto a{
    background-color: transparent;
    padding: 0;
    color: var(--primaryColor);
    text-decoration: dashed;
}   
#formRegister{
    display: none;
    flex-direction: row-reverse;
} */

/* .linkRegisto {
    margin-top: 1rem;
    color: white;
}
.linkRegisto a{
    background-color: transparent;
    padding: 0;
    color: var(--primaryColor);
    text-decoration: dashed;
}
.registarbtn{
    margin-top: 0;
    margin-right: 0;
}
.popUp--input input {
    margin-top: 1rem;
    / margin-left: 0;
    margin-right: 0;/
    margin-bottom: 0; 
    background-color: white;
    color: var(--secundaryColor);
}
.popUp--input input::placeholder{
    color: black;
    font-weight: 400;
    font-size: var(--sizeButao);
}
.popUp--input input[type="email"], .popUp--input input[type="password"], .popUp--input input[type="text"]{
    padding-left: 0.4rem;
}
.popUp--input  button{
    margin-top: 1rem;
    font-size: var(--sizeButao);
    text-decoration: none;
    background-color: var(--primaryColor);
    color: white;
    padding: 0.30em 2.50em;
    border: 0;
}
  */

/*
.popUp--input__registo{
    display: flex;
    flex-direction: column;
} */