*{
    font-family:"Mukta";
 
}

footer{
        width: 100%;
        min-height:400px;
        height:100%;
        background-color:#2A2828;
        color: white;
        /* text-align: center; */
        margin-top:50px;
    position:relative;

}

div#containerfooter {
    display:flex;
    flex-direction:row;
}

div#logoeredescontainer{
    margin-top:50px;
    margin-left:200px;
    
}


div#logofooter{
    
    display:flex;
    justify-content: center;
}

div#redessociaisfooter{
    margin-top:0px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    transform:scale(0.8);
}

img#discord,img#facebook,img#reddit,img#instagram,img#youtube,img#linkedin,img#twitch,img#twitter{
    margin:10px;
}

div#fateesportsfooter{

    margin-top:30px;
    margin-left:40px;
    text-align:left;
    font-size:16pt;
}

div#fateesportsfooter p{
    margin-top:0px;
    font-weight:900;
}
footer h3{
    font-weight:900;
    color:#D50101;
    font-size:30px;
    margin-bottom:0px;  
}

/* footer p{
    font-size:25px;
    font-weight:900;
} */

div#equipasfooter{
    margin-top:30px;
    margin-left:40px;
    text-align:left;    
    font-size:16pt;
  
}

div#equipasfooter p{
    margin-top:20px;
    font-weight:900;
}

footer h4{
    font-weight:900;
    font-size:30px;
    margin-top:60px;
    margin-bottom:0px;
}



input#emailnewsletter{
    background-color:#353535;
    border:#BD0202 1px solid;
    width:300px;
    height:46px;
    margin-top:18px;
}

::placeholder { 
    color: white;
    font-size:20px; 
    font-weight:900;

  }

  div#newsletterfooter button{
      width:75px;
      height:51px;
      font-size:20px;
      background-color:#BD0202;
      color:white;
      font-weight:900;
      border:#353535 1px solid; 
  }

  div#newsletterfooter{
       
        margin-left:40px;
        color:#D50101;
  }

  .titulopagamento{
    font-weight:900;
    font-size:30px;
    margin-bottom:20px;
    margin-top:50px !important;
}

 

div#metodosdepagamentofooter{

  margin-left:40px;
 margin-top:10px;
 color:#D50101;
}
div#imagenspagamentofooter{
    display:grid;
    grid-template-columns: repeat(3,1fr);
        gap:10px;
        border-radius:5px;
   justify-items: center;
}

img#ApplePay,img#GooglePay,img#Mastercard,img#Maestro,img#PayPal,img#Visa{
    border-radius:5px;
}


div.divcopyrightfooter p{
    font-size:20px;
    width:170px;
    height:20px;
 
}

div.divcopyrightfooter{
    position:absolute;
    bottom:0;
    left:45%;
}

@media only screen and (max-width: 1400px) {
  
 

    div#logoeredescontainer{
        margin-left:100px;
    }

    div#fateesportsfooter{
        display:none;
    }

    div#equipasfooter{
        display:none;
    }


}

@media only screen and (max-width: 1000px) {
    div#containerfooter {
        flex-direction:column;
        align-items: center;
    }

    div#logoeredescontainer{
        margin:0;
        
    }

    div#metodosdepagamentofooter{
        margin:0;
    }

    div#newsletterfooter{
        margin:0;
    }

    div#imagenspagamentofooter{
        display:grid;
        place-items:center;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
    }
    img#ApplePay,img#GooglePay,img#Mastercard,img#Maestro,img#PayPal,img#Visa{
        margin:0;
        
    }

    div#logoeredescontainer{
        margin-top:30px;
    }

    div.divcopyrightfooter{
        margin-top:20px;
        position:static;
    
    }
}