#header-conteudo{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Mukta, Vaani, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  /* max-width: 75%;
  width: 100%;*/
  
}

#header-conteudo a {
  background-color: transparent;
}

#lista-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#lista-nav li{
  margin-right: 25px;
}

#lista-nav li:first-child {
  margin-left: 30px;
}

li{
  list-style-type: none;
}

#lista-nav li a{
  width: max-content;
  background-color: transparent;
  text-decoration: none;
  color: black;
  background: linear-gradient(to right, #bd0202, #bd0202 50%, black 50%);
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 450ms ease;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#lista-nav li a:hover {
  background-position: 0 100%;
}

.nav-logo{
  width: 90px;
  height: 90px;
}
.nav-item{
  margin-left: 15rem;
}

.nav-gap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

a.icon  {
  display: none;
}


@media screen and (max-width:900px) {

  
  #header-conteudo {
    display: none;
    font-size: 25pt;
  }

  #lista-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

#lista-nav li:first-child {
  margin-left: 0;
}

.nav-gap {
  margin-left: 0;
  margin-top: 25px;
}



  #header-conteudo a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 50px;
  
}

 #header-conteudo ul {
  flex-direction: column;
  overflow: hidden;
  color: white;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 10;
  text-align: center;
} 

#header-conteudo li {
  margin: 0;
} 

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid #bd0202;
  border-left: 100px solid transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
}

#triangulo-icon a{
  top: 20px;
  right: 20px;
  position: fixed;
  z-index: 20;
}

a.icon  {
  transform: scale(2);
  display: block;
}


#login {
  position: relative;
  margin-left: 0;
} 
}