.header {

  overflow: hidden;
  padding: 20px 10px;
}

#header-conteudo {
  position: relative;
  top: 29px;
  right: 25px;
  font-size: 18px;
  font-family: Mukta, Vaani, sans-serif;
  font-weight: bold;
  
}

.header {
max-width: 75%;
margin: 0 auto;

}

ul {
padding: 0;
margin: 0;
list-style: none;
}

li {
display: inline-block;
padding-right: 25px;

}

.header .logo {
  margin-right: 20px; 
  
}

 #login {
  position: relative;
  margin-left: 250px;
} 

.profile {
  position: relative;
  margin-left: 250px;
}


.user_profile {
  position: relative;
  bottom: 16px;
} 

.logo {
  margin: 0; 
  margin-top: -5px; 
}

.header a {
  float: left;
  color: #bd0202;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  background: linear-gradient(to right, #bd0202, #bd0202 50%, black 50%);
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 450ms ease;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

a:hover {
  background-position: 0 100%;
}

.icon {
  display: none;
}



/* Menu burguer */

@media screen and (max-width:900px) {

  
  #header-conteudo {
    display: none;
  }

  .icon {
    display: block;
    position: fixed;
    left: 10px;
    top: 5px;
  }


  a.icon  {
    transform: scale(2);
  }


  /* #header-conteudo a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 50px;
  
} */

.user_profile {
  display: none;
}


 #header-conteudo ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  position: fixed;
  max-width: 100% ;
} 


#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid #bd0202;
  border-right: 100px solid transparent;
  position: fixed;
  left: -1px;
  top: -1px;
}

#login {
  position: relative;
  margin-left: 0;
} 

.profile {
  position: relative;
  margin-left: 0;
}

}