*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fontType: "Mukta", "sans-serif";
    --primaryColor: #bd0202;
    --secundaryColor: #353535;
    --accentColor: #f5f5f5;
    --sizeTitulo: 3.75rem;
    --sizeSubTitulo: 2rem;
    --sizeButao: 1.1rem;
    --sizeTexto: 1.25rem;
}
html{
    font-family: var(--fontType);
    scroll-behavior: smooth;
}
span{
    color: var(--primaryColor);
    text-transform: uppercase;
}
.titulo-h1{
    font-size:var(--sizeTitulo);
    line-height: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.titulo-h2{
    font-size: var(--sizeSubTitulo);
}
.text-p{
    font-size: var(--sizeTexto);
    color: var(--secundaryColor);
}
.text-p:hover{
    color: var(--primaryColor);
}
/* button, input, a */
.callToAction{
    font-size: var(--sizeButao);
    text-decoration: none;
    background-color: var(--primaryColor);
    color: white;
    padding: 0.20em 0.7em;
    border: 1px solid transparent;
}
button.callToAction {
    padding: 0.50em 0.75em;
}
.callToAction:hover{
    background: transparent;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: 400ms ease-in-out;
    cursor: pointer;
}

.painelAdmin{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    background-color: var(--secundaryColor);
}
.tituloPainel{
    text-align: center;
    color: var(--accentColor);
    text-transform: uppercase;
    margin: 0;
    padding-top: 1.3rem;
}
.areaEdicaoAdmin{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
}
.areaEdicaoAdmin--listaJogos, .areaEdicaoAdmin--listaJogadores, .areaEdicaoAdmin--listaTrofeus{
    margin: 1rem;
    padding: 1rem;
    background: var(--accentColor);
    border: 3px solid black;
    height: 330px;
    overflow-y:auto
}
.areaEdicaoAdmin--listaJogos{
    width: 100%;
    max-width: 20%;
}
.areaEdicaoAdmin--listaJogadores{
    width: 100%;
    max-width: 40%;
    
}
.areaEdicaoAdmin--listaTrofeus{
    width: 100%;
    max-width: 40%;
}
.areaEdicaoAdmin--listaJogos li{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}
.areaEdicaoAdmin--listaJogos li:hover{
    background: grey;
}
.areaEdicaoAdmin--listaJogos a{
    text-align: center;
    text-decoration: none;
}
table {
    width: 100%;
}
td{
    padding: 1rem;
}
.removerBtn, .removerBtnTrophie{
    display: flex;
}
.changePlayerNameInput, .btnPlayerNameInput, .playerNameChanger, .cancelarChangeName{
    display: none;
}
.changeTrophieNameInput, .btnTrophieNameInput, .trophieNameChanger, .cancelarChangeTrophie{
    display: none;
}

#btnCancelarAdicionarJogador, #areaInputsAdicionarJogador, #btnCancelarAdicionarTrofeu, #areaInputsAdicionarTrofeu{
    display: none;
    flex-direction: column;
}
#areaAdicionarJogador , #areaAdicionarTrofeu{
    flex-direction: row;
}
#areaAdicionarJogador input, #areaAdicionarTrofeu input{
    margin-top: 0.5rem;
    margin-left: 1rem;
}
#areaInputsAdicionarJogador p, #areaInputsAdicionarJogador input, #areaInputsAdicionarJogador select,
#areaInputsAdicionarTrofeu p, #areaInputsAdicionarTrofeu input, #areaInputsAdicionarTrofeu select{
    margin-top: 0.5rem;
    margin-left: 1rem;
}
#btnsubmeterPlayer, #btnsubmeterTrofeu{
    display: none;
}

.areaBtnSubmeterCancelar{
    margin-left: 1rem;
    margin-top: 1rem;
}
.areaBtnSubmeterCancelar div{
    display: inline-block;
}
.alertaSucess {
    width: 90%;
    margin: 1rem auto;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}