*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fontType: "Mukta", "sans-serif";
    --primaryColor: #bd0202;
    --secundaryColor: #353535;
    --accentColor: #f5f5f5;
    --sizeTitulo: 3.75rem;
    --sizeSubTitulo: 2rem;
    --sizeButao: 1.1rem;
    --sizeTexto: 1.56rem;
}
html{
    font-family: var(--fontType);
    scroll-behavior: smooth;
}
body{
    
}
span{
    color: var(--primaryColor);
    text-transform: uppercase;
}
.titulo-h1{
    font-size:var(--sizeTitulo);
    line-height: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.titulo-h2{
    font-size: var(--sizeSubTitulo);
}
.text-p{
    font-size: var(--sizeTexto);
}
/* button, input, a */
.callToAction{
    font-size: var(--sizeButao);
    text-decoration: none;
    background-color: var(--primaryColor);
    color: white;
    padding: 0.30em 2.50em;
}
.callToAction:hover{
    background: transparent;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: 400ms ease-in-out;
}

/*

grid players

*/
.areaTeam{
    max-width: 83.9rem;
    display: grid;
    gap: 4rem 1rem;

    margin: 100px auto;
    grid-template-columns: repeat(auto-fit, minmax(431px, 1fr));
}
.areaTeam--areaPlayer h2{
    padding-top: 1rem;
    text-align: center;
    transform: translateX(-25px);
}
.areaPlayer--playerBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 403px;
    height: 306px;
    background-color: red;
    position: relative;
}
.areaPlayer--playerBackground::before{
    content: '';
    position: absolute;
    left: -27px;
    top: -30px;
    width: 403px;
    height: 306px;
    z-index: -1;
    background-color: white;
    outline: 1px solid black;
}
.logoBackgroundPlayer{
    position: absolute;
    width: 300px;
}
.logoPlayer{
    z-index: 10;
    width: 203px;
    height: 336px;
    transform: translateY(-0.8rem);
}
.areaConquistas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 279px;
    padding-top: 80px;
    max-width: 83.9rem;
    margin: 0 auto;
    text-align: center;
}
.areaConquistas--QuantidadeTorneios p, .areaConquista--firstPlaces p, .areaConquista--otherPlaces p{
    font-size: 60px;
} 
.listaTorneios--torneio{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 83.9rem;
    margin: 0 auto;
    text-align: center;
    
}
.listaTorneios--torneio p{
    font-size: 40px;
}
.tableTorneio {
    text-align: center;
    width: 100%;
    max-width: 83.9rem;
    margin: 0 auto;
}
.infoTorneio {
    padding: 0rem;
}