*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fontType: "Mukta", "sans-serif";
    --primaryColor: #bd0202;
    --secundaryColor: #353535;
    --accentColor: #f5f5f5;
    --sizeTitulo: 7.5rem;
    --sizeSubTitulo: 2.5rem;
    --sizeButao: 1.1rem;
    --sizeTexto: 1.56rem;
}
html{
    font-family: var(--fontType);
    scroll-behavior: smooth;
}
body{
    background: var(--accentColor);
}
span{
    color: var(--primaryColor);
}
h1{
    font-size: calc(var(--sizeTitulo) - 2.5rem);
    line-height: 5rem;
    margin-bottom: 1rem;
}
h2{
    font-size: calc(var(--sizeSubTitulo) - 0.7rem);
}
p{
    font-size: calc(var(--sizeTexto) - 0.4rem);
}
button, input, a{
    font-size: var(--sizeButao);
    text-decoration: none;
    background-color: var(--primaryColor);
    color: white;
    padding: 0.30em 2.50em;
}
#wrap {
    margin: 0 auto;
    max-width: 1920px;
}
.textColuna{
    margin-left: 13.1rem;
    margin-right: 13.1rem;
}
/* Landing Area */

.heroLanding--texto{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.heroLanding--texto div{
    text-align: center;
    margin-top: 2rem;
}
.heroLanding--texto h1{
    margin: 0;
    padding-bottom: 3.1rem;
}
.heroLanding--texto h2{
    line-height: 2rem;
    max-width: 80ch;
}
.heroLanding--AreaImg{
    max-width: 18.75rem;
    max-height: 18.75rem;
    padding-top: 2rem;
    margin: 0 auto;
}
.heroLanding--AreaImg img{
    background-color: var(--accentColor);
    width: 100%;
    height: 100%;
}
/* area arrow */

.areaSeta{
    text-align: center;
}
.areaSeta a{
    background: none;
}
.areaArrow {
    display: flex;
    margin-top: 0.1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .areaArrow:hover {
    cursor: pointer;
  }
  .areaArrow span {
    width: 1.7rem;
    height: 1.7rem;
    margin: -5px;
    transform: rotate(45deg);
    border-bottom: 5px solid var(--primaryColor);
    border-right: 5px solid var(--primaryColor);
    animation: arrowEffect 1.5s infinite;
    filter: drop-shadow(0 0 0.2rem var(--primaryColor));
  }
  
  .areaArrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .areaArrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  
  @keyframes arrowEffect {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(10px, 10px);
    }
  }

/* onde estamos area */

.ondeEstamos{
    margin-top: 1rem;
}
.ondeEstamos--texto{
    
    color: white;
    padding-left: 1rem;
    padding-bottom: 9.3rem;
}
.caixaOndeEstamos{
    background: #222;
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    padding-left: 1.5rem;
    box-shadow: -15px 15px var(--primaryColor);
}
.caixaOndeEstamos p:first-of-type{
    max-width: 36ch;
}
.ondeEstamos--texto h1{
   
    padding-bottom: 3.75rem;
}
.ondeEstamos--jogos{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(3, 1fr);
    margin: 2rem auto;
    justify-content: center;
    max-width: 27rem;
}
.imgJogo{
    overflow: hidden;
    border: 1px solid black;
}
.imgJogo img{
    object-fit: cover;  
    max-width: 100%;
    max-height: 100%;
}
/* ajudar area */

.ajudaAjudarArea{
    background: var(--secundaryColor);
    color: white;
}
.ajudaAjudarArea h1, .ajudaAjudarArea p{
    padding: 0 1rem;
}
.ajudaAjudarArea h1{
    padding-top: 6.3rem;
}
.proposta{ 
    text-align: center;
    width: 20rem;
    height: 20rem;
    background-color: #222;
    box-shadow: -15px 15px var(--primaryColor);
}
.proposta p:first-child{
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
}
.proposta:last-of-type{
    margin-bottom: 0;
}
.padFrase{
    padding: 0 2rem;
}
.ajudaAjudarArea--propostas{
    
    margin: 2rem auto;
    justify-content: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: repeat(auto-fit, 20rem);
}

/* Parceiros Area */
.parcerias h1{
    text-align: center;
}


/* MEDIAS */

@media (min-width: 1000px){
     .textColumn{
        margin: 0 auto;
        max-width: 50.5rem;
         /* 93,75 valor final  */
    } 
    .textColumn1{
        margin: 0 auto;
        max-width: 50.5rem;
         /* 93,75 valor final  */
    }
    .heroLanding--texto div{
        text-align: left;
    }
    .heroLanding{
        display: flex;
        flex-direction: row;
    }
     .heroLanding--texto h2{
        max-width: 22ch;
    } 
}
@media (min-width: 1427px){
    .heroLanding--AreaImg img{
        transform: scale(110%);
        /* width: 44.9rem;
        height: 44.9rem; */
    }
    .textColumn{
        margin: 0 auto;
        max-width: 60rem;
         /* 93,75 valor final  */
    }
    .ondeEstamos{
        display: flex;
        flex-direction: row;
    }
    .caixaOndeEstamos{
        
        padding-right: 3.5rem;
        
        padding-left: 3.5rem;
    }
    .ondeEstamos--texto{
        margin: auto auto;
        margin-right: 0rem;
        padding-bottom: 0rem;
    }
    #wrap{
        overflow: visible;
    }
    .heroLanding--AreaImg{
        padding-top: 2rem;
    }
    .ondeEstamos--jogos{
        grid-template-columns: repeat(auto-fit, 150px);
    }
}

/* ---------- */
/* ADMIN SIDE */
/* ---------- */

.painelAdmin{
    width: 75%;
    margin: 0 auto;
    background-color: var(--secundaryColor);
}
.tituloPainel{
    text-align: center;
    color: var(--primaryColor);
    margin: 0;
    padding-top: 1.3rem;
}
.painelAdmin--conteudo{
    display: flex;
    flex-direction: row;
}
.conteudo--imgs__background{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
    place-items: center;    
    margin: 1rem;
    padding: 1rem;
    background: white;
}
.adminImgArea{
    position: relative;
    transition: 400ms ease-in-out;
    border: 3px solid transparent;
}
.adminImgArea:hover{
    border: 3px solid var(--primaryColor);
}
.adminImgArea img{
    object-fit: cover;
    max-width: 150px;
}
.adminImgArea__sairArea{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    padding: 0;
    top: 4px;
    right: 4px;
    width: 35px;
    height: 35px;
    background: transparent;
    transition: 400ms ease-in-out;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
.adminImgArea__sairArea:hover{
    background: var(--primaryColor);

}
.adminImgArea__sairArea img{
    object-fit: cover;
}

.conteudo--imgs, .conteudo--adicionarImg{
    width: 50%;
}
.conteudo--adicionarImg{
    padding: 2rem 1rem 1rem 1rem;
}
.conteudo--adicionarImg{
    font-size: var(--sizeTexto);
}
.lblListaJogos{
    color: white;
}
#listaJogos{
    font-size: var(--sizeButao);
}
.inputImg{
    margin-top: 1rem;
    background: var(--accentColor);
    color: black;
}
.inputImg::placeholder{
    font-size: var(--sizeButao);
    color: black;
}
.addImgJogoBtn{
    margin-top: 1rem;
}
.inputImg, .addImgJogoBtn{
    border: 0;
}
.alertSubmit{
    margin: 1rem 0 auto !important;
    padding: 1rem 1.5rem;
    width: 300px !important;
    text-align: center !important;
    background: #CEFF99 !important;
}