:root{

--redCallAction: #bd0202;
--redDetalhes: #d50101;
--pretoCinza: #353535 ;
--preto: #000000;
--brancoGelo: #e9e8e8; 
--branco: #ffffff; 
--fontePrincipal:"mukta","sans-serif";
--tituloPrincipal: 60px;
--tituloPrincipalMobile: 45px;
--tituloSecundario: 30px;
--paragrafos: 20px;
--paragrafosMobile: 18px;
}

span{
    color: var(--redCallAction) ;
}

#areaContacto{
margin-bottom: 50px;
}
.tituloPrincipal h1{
    font-size: var(--tituloPrincipal);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}
.tituloSecundario p{
    font-size: var(--paragrafos);
    font-family: var(--fontePrincipal);
}

.tituloSecundario h1{
    font-size: var(--tituloSecundario);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
form{
    padding-top: 8%;
    padding-bottom: 15px;
}
.areaNome{
    width: 228px;
    height: 41px;
    background-color: var(--brancoGelo);
    border-right: 0px ;
    border-top: 0px ;
    border-bottom: 0px ;
    border-left: 3px solid var(--redCallAction);
}
form select{
    width: 228px;
    height: 41px;
}
form label{
    font-size: var(--paragrafos);
}
#areaForm{
    margin: 0 auto;
    width: 625px;
    box-shadow: 0px 0px 15px gray;
}

.alert{
    margin: 0px auto 15px auto !important;
    width: 625px !important;
    
}

form input{
    margin: 5px 40px 20px 40px  ;
}
form label{
    font-family: var(--fontePrincipal);
    font-weight: bold;
    margin: 0px 40px 0px 40px  ;
}
form select{
    margin: 5px 40px 20px 40px  ;
    background-color: var(--brancoGelo);
    border-left: 3px solid var(--redCallAction);
    border-right: 0px ;
    border-top: 0px ;
    border-bottom: 0px ;
}

#botaoForm{
    background-color: var(--redCallAction);
    color: white;
    display: flex;
    margin: 0 auto;
    width: 253px;
    height: 51px;
    border: 1px solid gray;
    border-radius: 3px;
    font-family: var(--fontePrincipal);
    font-weight: bold;
    justify-content: center;
}
.inputForm{
    width: 86%;
}

.areaIcon{
    display: flex;
    flex-direction: row;
}

#areaNome{
    display: flex;
    flex-direction: row;
}

.areaIcon p{
    margin-left: 10px;
}

#areacomentario{
    width: 86%;
    height: 163px;
    resize: none;
    margin: 15px 40px;
    background-color: var(--brancoGelo);
    border-right: 0px ;
    border-top: 0px ;
    border-bottom: 0px ;
    border-left: 3px solid var(--redCallAction);
    margin: 5px 40px 20px 40px  ;
}

#areaTexto{
    margin-top: 115px;
}

#tabela-admin{
    margin: 40px auto;
    width: 98%;
}
#tabela-admin table, 
#tabela-admin td, 
#tabela-admin tr, 
#tabela-admin th{
    border: 1px solid var(--pretoCinza);
}

#tabela-admin td{
padding: 10px;
text-align: center;
}
#tabela-admin tr:nth-child(even){
    background-color: var(--brancoGelo);
}
#tabela-admin th{
    padding: 10px;
    background-color: var(--redCallAction);
    text-align: center;
    color: var(--branco ); 
    }

.botao-delete{
    width: 35px;
    height: 35px;
    transition: 800ms;
}

.botao-delete:hover{
    transform: scale(1.2);
    /* transition: 400ms; */
}


@media (max-width: 1200px) {

    #areaFala p{
        text-align: center;
    }
    #areaFala h1{
        text-align: center;
    }
    #areaInfo h1{
        text-align: center;
    }
    .areaIcon {
       justify-content: center;
    }
}

@media (max-width: 725px){

    .tituloPrincipal h1{
        font-size: var(--tituloPrincipalMobile);
    }
}
@media (max-width: 630px){

    #areaForm{
        margin: 0 auto;
        width: 100%;
    }
    form input {
        width: 185px;
    }
}
@media (max-width: 633px){

    form input {
        width: 169px;
    }
    #areaNome{
        flex-direction: column;
    }
    .areaNome{
        width: 86%;
    }
}
@media (max-width: 497px){

    form input {
        width: 152px;
    }
    #inputForm {
        width: 83%;
        width: 100%;
    }
}

@media (max-width: 497px){


    form label {
        font-family: var(--fontePrincipal);
        font-weight: bold;
        margin: 0px 40px 0px 25px;
    }
    form select{
        margin: 5px 40px 20px 25px  ;
    }
    form input{
        margin: 5px 40px 20px 25px  ;
    }
    #areacomentario{
        margin: 5px 40px 20px 25px  ;
    }
    
}
@media (max-width: 400px){

    .tituloSecundario p{
        font-size: var(--paragrafosMobile);
    }
    .tituloPrincipal h1{
        font-size: 40px;
    }
    
}