:root{

  --redCallAction: #bd0202;

  --pretoCinza: #353535 ;

  --brancoGelo: #e9e8e8; 

  --branco: #ffffff; 

  }


*{
  font-family:"Mukta";
}

.container{
  max-width: 75%;
margin: 0 auto;

}

h1.titulopaginaparcerias{
text-align:center;
font-size:45pt;
}

div#textoinicio{
text-align:center;
max-width:40%;
margin:0 auto;
margin-bottom:40px;
}

span.DestaqueTitulo{
  color: var(--redCallAction);
}

hr{
max-width:75%;
margin:0 auto;
border-color:red;
height:10px;
background-color:red;
margin-bottom:50px;
}


div#grid-marcas {
  display: grid;
  grid-template-columns: repeat(2, minmax(601px,1fr));
  margin-bottom:50px;
  max-width:601px;
  grid-gap:50px;
 margin-left:90px;
   place-items:center;
 
  }
.grid-item {
  border: 1px solid #353535;
  width:601px;
  height:345px;
  position:relative;
}
.imgmarca{
  width:237px;
  height:133px;
}

div.containerimgmarca{
  max-width:50%;
  margin-left:40px;
  margin-top:100px;
  float: left;
}

h2.titulomarca{

  font-size:30pt;
  font-weight:900;

}

div.containertextomarca{
  font-size:16pt;
  text-align:left;
  font-weight:normal;
  width:50%;
  max-height:260px;
  height:100%;
  overflow: hidden;
  
}

a.linkmarca{  
  float:right;
    text-decoration:none;
    color:#D50101;
    font-size:25px;
    transition:1s;
    position:absolute;
    bottom:10px;
    right:40px;
    font-weight:900;
}

a.linkmarca:hover{  
 transform:scale(1.2);
}

#backoffice-parcerias {
  margin-bottom: 10px;
}

#backoffice-titulo {
  text-align: center;

  
}

#tabela{
  margin: 40px auto;
  width: 98%;
}
#tabela table, 
#tabela td, 
#tabela tr, 
#tabela th{
  border: 1px solid var(--pretoCinza);
}

#tabela td{
padding: 10px;
text-align: center;
}
#tabela tr:nth-child(even){
  background-color: var(--brancoGelo);
}
#tabela th{
  padding: 10px;
  background-color: var(--redCallAction);
  text-align: center;
  color: var(--branco ); 
  }

.eliminar{
  width: 35px;
  height: 35px;
  transition: 800ms;
}

.eliminar:hover{
  transform: scale(1.2);
  /* transition: 400ms; */
}

@media only screen and (max-width: 1530px) {
  div#grid-marcas {
  grid-template-columns:  auto;
  place-items:center;
  margin:auto;
  }
}

@media only screen and (max-width: 700px) {
  div#grid-marcas {
  /* grid-template-columns:  auto; */
  place-items:center;
  transform:scale(0.7);
  }
  div.container{
    margin:0;
    width:100%;
    margin-right:0;
  }

  div#grid-marcas {
    margin-left:0;
  }

}

