*{
    font-family:"Mukta";
}

.container{
    max-width: 75%;
  margin: 0 auto;
}

h1{
  text-align:center;
}

div#textoinicio{
  text-align:left;
  max-width:40%;
  margin:0 auto;
  margin-bottom:40px;
}

hr{
  max-width:70%;
  margin:0 auto;
  border-color:red;
  height:10px;
  background-color:red;
}

div#marcas{
  max-width:70%;
  margin:0 auto;
  margin-top:50px;

}

div#redbullcaixa{
  border: 1px solid #353535;
  max-width:45%;
height:343px;
}

img#redbull{
  margin-left:40px; 
  margin-top:100px;
}

h2#redbull{
  float:right;
  margin-top:50px;
  margin-right:150px;
  font-size:30pt;
  font-weight:900;

}

div#redbulltexto{
  float:right;
  max-width:45%;
  margin-right:20px;
  margin-top:-140px;
  font-size:16pt;
  text-align:left;
}

div#razercaixa{
  border: 1px solid #353535;
  max-width:45%;
  margin-top:-345px;
height:343px;
float:right;
}

img#razer{
  margin-left:40px; 
  margin-top:120px;
}

h2#razer{
  float:right;
  margin-top:50px;
  margin-right:195px;
  font-size:30pt;
  font-weight:900;

}

div#razertexto{
  float:right;
  max-width:45%;
  margin-right:20px;
  margin-top:-120px;
  font-size:16pt;
  text-align:left;
}

div#layscaixa{
  border: 1px solid #353535;
  max-width:45%;
height:343px;
}

img#lays{
  margin-left:40px; 
  margin-top:100px;
}

h2#lays{
  float:right;
  margin-top:50px;
  margin-right:215px;
  font-size:30pt;
  font-weight:900;

}

div#laystexto{
  float:right;
  max-width:45%;
  margin-right:20px;
  margin-top:-120px;
  font-size:16pt;
  text-align:left;
}

div#paypalcaixa{
  border: 1px solid #353535;
  max-width:45%;
  margin-top:-345px;
height:343px;
float:right;
}

img#paypal{
  margin-left:40px; 
  margin-top:120px;
}

h2#paypal{
  float:right;
  margin-top:50px;
  margin-right:175px;
  font-size:30pt;
  font-weight:900;

}

div#paypaltexto{
  float:right;
  max-width:45%;
  margin-right:20px;
  margin-top:-130px;
  font-size:16pt;
  text-align:left;
}

p a{
  text-decoration:none;
  color:#D50101;
  float:right;
  margin-top:70px;
  margin-right:20px;
}