*{
  font-family:"Mukta";
}

.container{
  max-width: 75%;
margin: 0 auto;
}

h1{
text-align:center;
}

div#textoinicio{
text-align:left;
max-width:40%;
margin:0 auto;
margin-bottom:40px;
}

hr{
max-width:75%;
margin:0 auto;
border-color:red;
height:10px;
background-color:red;
}


div#grid-marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom:50px;
}
.grid-item {
  border: 1px solid #353535;
  width:601px;
  height:345px;
  margin-top:50px;
}
.imgmarca{
  width:237px;
  height:133px;
  float:left;
  margin-left:40px;
  margin-top:100px;
}

h2.titulomarca{
  float:left;
  font-size:30pt;
  font-weight:900;
  margin-left:20px;
  margin-top:50px;
}

p.descricaomarca{
  font-size:16pt;
  text-align:left;
  float:left;
  font-weight:normal;
  max-width:270px;
  max-height:175px;
  margin-top:-25px;
  margin-left:20px;
  overflow: hidden;
}

a.linkmarca{  
  float:right;
    text-decoration:none;
    color:#D50101;
    font-size:25px;
    margin-top:10px;
    margin-right:20px;
    transition:1s;
}

a.linkmarca:hover{  
 transform:scale(1.2);
}


/*Scrollbar*/

*::-webkit-scrollbar-track {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
}